/*
    CSS styles for the whole website
    The file is included in the genericpage.tag template
 */

#topmenu_login_dialogue
{
    font-size: smaller;
}

* {
  box-sizing: border-box;
}

.column {
  float: left;
  width: 33.33%;
  padding: 5px;
}

/* Clearfix (clear floats) */
.row::after {
  content: "";
  clear: both;
  display: table;
}

body {
    background-image: url("images/im3.jpg");
}
.no-background {
    background-image: url("images/blank.jpg");
}